<html>
       <head>
           <title>Django Ulek Girls blog</title>
       </head>
       <body>
         <div>
      <h1><a href="/">Django Girls Blog</a></h1>
  </div>

  {% for post in posts %}
      <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaks }}</p>
      </div>
  {% endfor %}

           <div>
               <p>published: 01.06.2016, 14:14</p>
               <h2><a href="">My first post</a></h2>
               <p>Hi. How are you doing?</p>
           </div>

           <div>
               <p>published: 01.06.2016, 14:24</p>
               <h2><a href="">My second post</a></h2>
               <p>Hello.</p>
           </div>
       </body>
   </html>
